* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
html {
  font-size: 12px;
}

body {
  font-size: 1rem;
  font-family: sans-serif;
  padding: 5% 3% 0 3%;
  font-family: "Poppins", sans-serif;
}

/*header*/
header {
  margin-bottom: 2%;
}
/*main*/
.bag_shoes {
  background-color: #f2f2f2;
  border-radius: 12px;
  height: auto;
  padding: 10% 10%;
}

img {
  width: 42.75%;
  height: 44.64%;
  border-radius: 12px;
}

.bag,
.shoes {
  display: flex;
  justify-content: space-between;
  width: 87%;
}

.under_price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.order_size {
  display: flex;
  border: 1px solid #828282;
  border-radius: 9px;
  padding: 2%;
  justify-content: space-around;
  padding: 5% 0;
}

.btn_size {
  height: 18px;
  width: 18px;
  border-radius: 6px;
  border: none;
  background-color: #e0e0e0;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.line_through {
  padding-top: 25%;
}
.through {
  border-top: 1px solid #bdbdbd;
}

/*forms*/

.contact_information {
  margin-top: 20%;
}
h3 {
  margin-bottom: 3%;
}
.wrapper {
  border: 1px solid #828282;
  border-radius: 12px;
  padding: 2%;
  margin: 1% 0 5% 0;
  display: flex;
}

input {
  outline: none;
  width: 100%;
  border: none;
  font-size: large;
}
i {
  width: 12%;
}

.shipping_address {
  margin-top: 15%;
}

.country_postal {
  width: 90%;
  padding: 2% 2%;
}
.country_postal i {
  width: 20%;
}

.btn_continue {
  background-color: #f2994a;
  color: #fff;
  border: none;
  font-size: 1.3rem;
  padding: 2%;
  border-radius: 12px;
  width: 25%;
  height: 3vh;
  cursor: pointer;
  float: right;
  margin-top: 10%;
}

/*footer*/
footer {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  padding: 40% 0 5% 0;
}

/*sm tablets*/
@media screen and (min-width: 500px) and (orientation: portrait) {
  body {
    font-size: 1.2rem;
  }

  .order_size {
    width: 25vw;
  }

  .btn_size {
    height: 28px;
    width: 28px;
  }

  .country_postal {
    width: 40vw;
    padding: 5% 5%;
  }
  h3 {
    margin-bottom: 3%;
  }

  i {
    width: 8%;
  }

  input {
    width: 100%;
  }
}

/*md tablets*/
@media screen and (min-width: 768px) and (orientation: portrait) {
  body {
    font-size: 1.2rem;
  }

  .order_size {
    width: 25vw;
  }

  .btn_size {
    height: 28px;
    width: 28px;
  }

  .item_number {
    font-size: 2rem;
  }

  .country_postal {
    width: 40vw;
    padding: 5% 5%;
  }

  .btn_continue {
    font-size: 2rem;
  }

  i {
    width: 6%;
  }

  .country_postal i {
    width: 14%;
  }

  .btn_continue {
    width: auto;
    padding: 2%;
  }
}

/*md tablets*/
@media screen and (min-width: 1024px) and (orientation: portrait) {
  i {
    width: 4.5%;
  }

  .country_postal i {
    width: 10%;
  }
}

/*sm computer*/
@media screen and (min-width: 768px) and (orientation: landscape) {
  body {
    padding: 5% 5%;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
  }
  main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }

  .bag_shoes {
    height: fit-content;
    padding: 5% 5%;
    width: 30%;
  }
  .form_inputs {
    width: 50%;
  }
  .contact_information {
    margin-top: 0%;
  }
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }

  footer {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10% 0 2% 0;
  }

  input {
    font-size: large;
  }

  i {
    width: 8%;
  }

  .country_postal i {
    width: 20%;
  }
}

/*md computer*/
@media screen and (min-width: 1024px) and (orientation: landscape) {
  body {
    padding: 5% 10%;
    font-family: "Poppins", sans-serif;
  }
}

/*lg computer*/
@media screen and (min-width: 1440px) and (orientation: landscape) {
  body {
    padding: 5% 10%;
    font-family: "Poppins", sans-serif;
  }
}

/*xlg computer*/
@media screen and (min-width: 1920px) and (orientation: landscape) {
  body {
    padding: 5% 25%;
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
  }
  .btn_size {
    height: 28px;
    width: 28px;
    border-radius: 6px;
  }

  .btn_continue {
    font-size: inherit;
  }
  .bag_shoes {
    padding: 5%;
    justify-content: space-between;
    width: 35%;
  }
}
